@charset "UTF-8" ;

@media screen and (min-width:768px) and (max-width:1600px) {
    
    main{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    
    .sedan{
        padding: 20px;
        width: 300px;
        height: 450px;
        text-align: center;

        

        border-radius: 10px 0px 0px 10px;
        background-color: rgb(226, 141, 61);
        color: white;
    }

    .sedan > img {
        display: block;
        padding: 15px;

        
    }



    .sedan > h1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: lighter;
        font-size: 2.0em;

    }

    .sedan > p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.1em;
        padding-bottom: 50px;
    }

    .sedan > .bse {
        padding: 15px;
        width: 200px;
        height: 30px;
        margin: auto;

        color: rgb(226, 141, 61);
        background-color: white;
        border-radius: 50px;
        font-size: 1.4em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }



    
    .suv{
        padding: 20px;
        width: 300px;
        height: 450px;
        text-align: center;

        background-color: #025756d7;
        color: white;
    }

    .suv > h1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: lighter;
        font-size: 2.0em;
    }

    .suv > p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.1em;
        padding-bottom: 50px;

    }


    .suv > img{
        display: block;
        padding: 15px;
    }
    
    .suv > .bsuv{
        padding: 15px;
        width: 200px;
        height: 30px;
        margin: auto;

        color:#025756d7;
        background-color: white;
        border-radius: 50px;
        font-size: 1.4em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
      
    }

    .bsuv >{
        padding: 10px;
    }
    
    

    .luxury{
        padding: 20px;
        width: 300px;
        height: 450px;
        text-align: center;

        border-radius: 0px 10px 10px 0px;
        background-color: #023535;
        color: white;
    }

    .luxury > img{
        display: block;
        padding: 15px;
}

    .luxury > h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 2.0em;

    }

    .luxury > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    padding-bottom: 50px;

    }

    .luxury > .bluxu{
    padding: 15px;
    width: 200px;
    height: 30px;
    margin: auto;
    
    color: #023535;;
    background-color: white;
    border-radius: 50px;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

    }
    .attribution > a{
        text-decoration: none;
        font-style: italic;
        font-size: 1.2em;
        box-shadow: 2px 2px 2px 2px;
    }


    .attribution > a:hover{
        text-decoration: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(226, 141, 61);
    
    }

}